<%- include('partials/head') %>

<div class="content-wrapper">
    <div class="content">
        <div class="list">

        <h1> Update/Delete Authors </h1><br>

        <% for (i=0; i < authors.length; i++) { %>
            <a href="/author/edit?authorId=<%=authors[i].authorId%>" class="btn btn-primary">UPDATE</a>

            <a href="/author/delete?authorId=<%=authors[i].authorId%>" class="btn btn-danger">DELETE</a>

            <%=authors[i].firstName%>
            <%=authors[i].lastName%> <br>


        <% } %>

        </div>
    </div>
</div>


<%- include('partials/footer') %>
