<%- include('partials/head') %>

<div class="content-wrapper">
    <div class="content">

    <form method="POST" action="/author/edit">
        <h1>Updating Author Data</h1><br>
        <input type="hidden" name="authorId" value="<%=authorInfo[0].authorId%>">
        First Name:
        <input type="text" name="fName" value="<%=authorInfo[0].firstName%>"><br><br>
        Last Name:
        <input type="text" name="lName" value="<%=authorInfo[0].lastName%>""><br><br>
        Date of Birth:
        <input type="date" name="birthDate" value="<%=authorInfo[0].dobISO%>">
        <br><br>
        Date of Death:  
        <input type="date" name="deathDate" value="<%=authorInfo[0].dodISO%>">
        <br><br>
        Sex:
        <input type="radio" name="sex" value="M" 
            <% if(authorInfo[0].sex == 'M'){ %> checked <% } %>>
            <label for="M">M</label>
        <input type="radio" name="sex" value="F"
            <% if(authorInfo[0].sex == 'F'){ %> checked <% } %>>
            <label for="F">F</label><br><br>
        Country:
        <select name="country">
            <option value="">Select country:</option>
            <% for(let i in countries) { %>
                <option value="<%=countries[i]%>"
                    <% if(authorInfo[0].country == countries[i]) { %> selected <% } %>><%=countries[i]%></option>}
            <% } %>
        </select>
        <br><br>
        Profession:
        <input type="text" name="profession" value="<%=authorInfo[0].profession%>"><br><br>
        Biography: <br>
        <textarea name="biography" rows="4" cols="50"><%=authorInfo[0].biography%></textarea><br>
        Portrait URL:
        <input type="text" name="portrait" value="<%=authorInfo[0].portrait%>"><br><br>
        <button>Update Author</button>
    </form>

    </div>
</div>

<%- include('partials/footer') %>