<%- include('partials/head') %>

<div class="content-wrapper">
    <div class="content">

        <form method="POST" action="/author/new">
            <h1>Adding A New Author</h1><br>

            First Name:
            <input type="text" name="fName"><br><br>
            Last Name:
            <input type="text" name="lName"><br><br>
            Date of Birth:
            <input type="date" name="birthDate">
            <br><br>
            Date of Death:  
            <input type="date" name="deathDate">
            <br><br>
            Sex:
            <input type="radio" name="sex" value="M" checked>
                <label for="M">M</label>
            <input type="radio" name="sex" value="F">
                <label for="F">F</label><br><br>
            Country:
            <select name="country">
                <option value="">Select country:</option>
                <% for(let i in countries) { %>
                    <option value="<%=countries[i]%>"><%=countries[i]%></option>}
                <% } %>
            </select>
            <br><br>
            Profession:
            <input type="text" name="profession"><br><br>
            Biography: <br>
            <textarea name="biography" rows="4" cols="50"></textarea><br>
            Portrait URL:
            <input type="text" name="portrait"><br><br>
            <button>Add Author</button>
        </form>

        <% if (typeof message != "undefined"){ %>
            <h3><%=message%></h3>
        <% } %>
    </div>
</div>

<%- include('partials/footer') %>

