<%- include('partials/head') %>

<div class="content-wrapper">
    <div class="content">

    <form method="POST" action="/quote/new">
        <h1>Adding A New Quote</h1><br>

        Quote: <br>
        <textarea name="quote" rows="4" cols="50"></textarea><br><br>
        Author:
        <select name="authorId">
            <option value="">Select author:</option>
            <% for(let i in authors) { %>
                <option value="<%=authors[i].authorId%>"><%=authors[i].firstName%> <%=authors[i].lastName%></option>}
            <% } %>
        </select><br><br>
        Category:
        <select name="category">
            <option value="">Select category:</option>
            <% for(let i in categories) { %>
                <option value="<%=categories[i]%>"><%=categories[i]%></option>}
            <% } %>
        </select><br><br>
        Likes:
        <input type="number" name="likes" value=""><br><br>

        <button>Add Quote</button>

        <% if (typeof message != "undefined"){ %>
            <h3><%=message%></h3>
        <% } %>
    </form>

    </div>
</div>

<%- include('partials/footer') %>