<%- include('partials/head') %>

<div class="content-wrapper">
    <div class="content">
        <div class="list">


        <h1> Update/Delete Quotes </h1><br>

        <% for (i=0; i < quotes.length; i++) { %>
            <a href="/quote/edit?quoteId=<%=quotes[i].quoteId%>" class="btn btn-primary">UPDATE</a>

            <a href="/quote/delete?quoteId=<%=quotes[i].quoteId%>" class="btn btn-danger">DELETE</a>

            <%=quotes[i].quote.substring(0, 50)%>... <br>

        <% } %>

        </div>
    </div> 
</div>


<%- include('partials/footer') %>